<style type="text/css">
    /* Agregando Inputs */
    .input-group {width: 100%;}
    .input-group-addon { min-width: 180px;text-align: right;}    
    
    .panel-title{
        font-size: 13px;
        font-weight: bold;
    }
    
    .derecha_text { 
        text-align: right; 
    }
</style>
<div class="container col-xs-12">
    <form id="formComprobante" class="form-horizontal" autocomplete="off">
        <div class="row">
            <div class="col-md-2"><a id="enlace_atras"><img width="50" id="img_atras"></a></div>
            <div class="col-md-8" style="text-align: center"><h3 id="label_guia">NUEVA GUIA TRANSPORTISTA</h3></div>
            <div class="col-md-2"></div>
        </div>
        
        <div class="panel panel-info" >
            <div class="panel-heading" >
                <div class="panel-title">Datos Guia</div>                        
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1 col-lg-1">
                        <div class="input-group input-group-sm">
                            <label class="control-label">F. emisión:</label>
                            <input type="text" class="form-control" id="fecE" placeholder="Emision">
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="input-group input-group-sm">
                            <label class="control-label">F. Traslado:</label>
                            <input type="text" class="form-control" id="fecT" placeholder="Traslado">
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="input-group input-group-sm">
                            <label class="control-label">N. MTC:</label>
                            <input type="text" class="form-control" id="numero_mtc" placeholder="N. MTC">
                        </div>
                    </div>                                        
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Punto Partida</label>
                    </div>                                
                </div>
                <div class="row">                                
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" id="partida_departamento_id" name="partida_departamento_id" required="">
                        </select>                                     
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" id="partida_provincia_id" name="partida_provincia_id" required="">                                        
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" id="partida_distrito_id" name="partida_distrito_id" required="">
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" placeholder="Dirección Punto Partida" name="partida_direccion" id="partida_direccion" class="form-control" required="">
                    </div> 
                </div>               
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Punto Llegada</label>
                    </div>                                
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" id="llegada_departamento_id" name="llegada_departamento_id" required="">
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" id="llegada_provincia_id" name="llegada_provincia_id" required="">
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <select class="form-control form-control-sm" id="llegada_distrito_id" name="llegada_distrito_id" required="">
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" placeholder="Dirección Punto Llegada" name="llegada_direccion" id="llegada_direccion" class="form-control" required="">
                    </div> 
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">                
                            <label class="control-label">Remitente:</label>
                            <button type="button" id="buscador_remitente" class="btn btn-info btn-sm">SUNAT</button>
                            <input type="text" required="" class="form-control" name="remitente" id="remitente" placeholder="Razón Social">
                            <input type="hidden" class="form-control" name="remitente_id" id="remitente_id">
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">                
                            <label class="control-label">Destinatario:</label>
                            <button type="button" id="buscador_destinatario" class="btn btn-info btn-sm">SUNAT</button>
                            <input type="text" required="" class="form-control" name="destinatario" id="destinatario" placeholder="Razón Social">
                            <input type="hidden" class="form-control" name="destinatario_id" id="destinatario_id">
                        </div>
                    </div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">
                            <label class="control-label">Datos Vehiculo:</label>
                            <button type="button" id="nuevo_vehiculo" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Nuevo</button>                            
                            <input type="text"  class="form-control" name="txt_carro" id="txt_carro" placeholder="Carro" required="">
                            <input type="hidden" class="form-control" name="txt_carro_id" id="txt_carro_id">
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">
                            <label class="control-label">Datos del conductor:</label>
                            <button type="button" id="nuevo_conductor" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Nuevo</button>
                            <input type="text"   class="form-control" name="chofer" id="chofer" placeholder="Chofer" required="">
                            <input type="hidden" class="form-control" name="chofer_id" id="chofer_id">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">
                            <input type="checkbox" id="chek_carro_secundario">
                            <label class="control-label">Placa Carreta:</label>
                            <input type="text"   class="form-control" name="txt_carro_secundario" id="txt_carro_secundario" placeholder="Carro" required="">
                            <input type="hidden" class="form-control" name="txt_carro_id_secundario" id="txt_carro_id_secundario">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div style="padding-left: 15px">
                        <label class="control-label">Adjuntar documento:</label><br>
                    </div>
                    <div id="div_tipo_documento" class="col-md-2 col-lg-2">
                        <select  class="form-control" name="tipo_documento" id="tipo_documento">
                        </select>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="input-group input-group-sm">
                            <input type="text" name="adjunto_serie" id="adjunto_serie" class="form-control" placeholder="SERIE">
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="input-group input-group-sm">
                            <input type="text" name="adjunto_numero" id="adjunto_numero" class="form-control" placeholder="NUMERO">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">CONCEPTOS DEL COMPROBANTE</div>
            </div>
            <div class="panel-body">
                <div class="row" id="valida">
                    <div id="contendor_table" class="col-lg-12">
                        <table id="tabla" class="table tabla_items" style="display:none" border="0">
                            <thead>
                                <tr>
                                    <th>Descripcion</th>
                                    <th>Unid. Medida</th>
                                    <th>Cant.</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" id="agrega" class="btn btn-primary btn-sm">Agregar Item</button>
                        <button type="button" id="modal_nuevo_producto" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Nuevo Producto</button>
                    </div>
                </div>
                <div id="mostrar"></div>
                <div id="uu"></div>
            </div>
        </div>                                
        
        <div class="panel panel-info" >
            <div class="panel-heading" >
                <div class="panel-title">Datos Generales</div>                        
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <div class="input-group input-group-sm">                
                            <label>Peso Bruto Total</label>
                            <input type="text" name="peso_total" id="peso_total" class="form-control">
                        </div>
                    </div>                    
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group">                
                            <label>Notas</label>
                            <textarea class="form-control" name="notas" id="notas" rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">
                            <input type="checkbox" id="chek_sub_contratista">
                            <label class="control-label">Sub-Contratista:</label>
                            <button type="button" id="buscador_sub_contratista" class="btn btn-info btn-sm">SUNAT</button>
                            <input type="text" required="" class="form-control" name="sub_contratista" id="sub_contratista" placeholder="Razón Social">
                            <input type="hidden" class="form-control" name="sub_contratista_id" id="sub_contratista_id">
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="input-group input-group-sm">
                            <input type="checkbox" id="chek_pagador_flete">
                            <label class="control-label">Pagador Flete:</label>
                            <button type="button" id="buscador_pagador_flete" class="btn btn-info btn-sm">SUNAT</button>
                            <input type="text" required="" class="form-control" name="pagador_flete" id="pagador_flete" placeholder="Razón Social">
                            <input type="hidden" class="form-control" name="pagador_flete_id" id="pagador_flete_id">
                        </div>
                    </div>
                </div>                                                                
            </div>
        </div>
        
        <div class="row" align="center">
            <button type="button" id="guardar_guia" name="guardar_guia" class="btn btn-primary btn-lg">Guardar Guia</button>
            <input id="txt_guia_id" name="txt_guia_id" type="hidden" />
        </div>
        <br><br>
        
    </form>
</div>

<script type="text/javascript">
    var today = new Date();                
    var dd = today.getDate(); 
    var mm = today.getMonth() + 1;   
    var yyyy = today.getFullYear();    

    if (dd < 10) { 
        dd = '0' + dd; 
    } 
    if (mm < 10) { 
        mm = '0' + mm; 
    } 
    var today = dd + '-' + mm + '-' + yyyy; 

    $('#fecE').val(today);
    $('#fecE').datepicker();
    $('#fecT').val(today);
    $("#fecT").datepicker();
    
    $("#img_atras").attr("src", base_url + "images/atras.png");
    $("#enlace_atras").attr("href", base_url + "index.php/guias_transportistas");
    var cadena_departamento;
    var cadena_carro;
    var cadena_chofer;
    let unidades_activas        = JSON.parse(localStorage.getItem("unidades_activas"));
    
    let variables_diversas      = JSON.parse(localStorage.getItem("variables_diversas"));        
    var productos_automaticos   = variables_diversas.productos_automaticos;
    var tipo_igv_defecto        = variables_diversas.tipo_igv_defecto;
    var url_editar = window.location.hash;                    
    
    $("#modal_nuevo_producto").on('click', function(){
        ruta_url = base_url + 'index.php/guias_transportistas/modal_nuevo_producto/';
        $("#myModal").load(ruta_url);
    });
    
    $("#nuevo_vehiculo").on('click', function(){
        ruta_url = base_url + 'index.php/guias_transportistas/modal_nuevo_carro/';
        $("#myModal").load(ruta_url);
    });
    
    $("#nuevo_conductor").on('click', function(){
        ruta_url = base_url + 'index.php/guias_transportistas/modal_nuevo_conductor/';
        $("#myModal").load(ruta_url);
    });
    
    $.getJSON(base_url + 'index.php/WS_guia_transportistas/cargaDepartamentos')
        .done(function (data) {
            cadena_departamento = "<option value=''>Seleccionar</option>";
            (data.departamentos).forEach(function (repo) {
                cadena_departamento += "<option value='" + repo.id + "'>" + repo.departamento + "</option>";
            });
            $('#partida_departamento_id').html(cadena_departamento);
            $('#llegada_departamento_id').html(cadena_departamento);
    });
            
//    $.getJSON(base_url + 'index.php/WS_choferes/ws_select_all')
//        .done(function (data) {
//        (data).forEach(function (repo) {
//            cadena_chofer += "<option value='" + repo.id + "'>" + repo.nombres + ', '+ repo.apellidos + "</option>";
//        });
//        $('#chofer_id').html(cadena_chofer);
//    });
    
    var cadena_ubigeo;
    $("#partida_departamento_id").on("click", function(){
        $('#partida_provincia_id option').remove();
        var departamento_id = $("#partida_departamento_id").val();
        var url_provincias = base_url + 'index.php/WS_guia_transportistas/cargaProvincias/'+departamento_id;
        $.getJSON(url_provincias)
        .done(function (data) {
            cadena_ubigeo = "<option value=''>Seleccionar</option>";
            (data.provincias).forEach(function (repo) {
                cadena_ubigeo += "<option value='" + repo.id + "'>" + repo.provincia + "</option>";
            });
            $('#partida_provincia_id').html(cadena_ubigeo);
        });
    });
    
    $("#partida_provincia_id").on("click", function(){
        $('#partida_distrito_id option').remove();
        var provincia_id = $("#partida_provincia_id").val();
        var url_distrito = base_url + 'index.php/WS_guia_transportistas/cargaDistritos/'+provincia_id;
        $.getJSON(url_distrito)
        .done(function (data) {
            cadena_ubigeo = "<option value=''>Seleccionar</option>";
            (data.distritos).forEach(function (repo) {
                cadena_ubigeo += "<option value='" + repo.id + "'>" + repo.distrito + "</option>";
            });
            $('#partida_distrito_id').html(cadena_ubigeo);
        });        
    });
    /////////////////////////////////////////////
    $("#llegada_departamento_id").on("click", function(){
        $('#llegada_provincia_id option').remove();
        var departamento__llegada_id = $("#llegada_departamento_id").val();
        var url_llegada_provincias = base_url + 'index.php/WS_guia_transportistas/cargaProvincias/'+departamento__llegada_id;
        $.getJSON(url_llegada_provincias)
        .done(function (data) {
            cadena_ubigeo = "<option value=''>Seleccionar</option>";
            (data.provincias).forEach(function (repo) {
                cadena_ubigeo += "<option value='" + repo.id + "'>" + repo.provincia + "</option>";
            });
            $('#llegada_provincia_id').html(cadena_ubigeo);
        });        
    });
    
    $("#llegada_provincia_id").on("click", function(){
        $('#llegada_distrito_id option').remove();
        var provincia_llegada_id = $("#llegada_provincia_id").val();
        var url_llegada_distrito = base_url + 'index.php/WS_guia_transportistas/cargaDistritos/'+provincia_llegada_id;
        $.getJSON(url_llegada_distrito)
        .done(function (data) {
            cadena_ubigeo = "<option value=''>Seleccionar</option>";
            (data.distritos).forEach(function (repo) {
                cadena_ubigeo += "<option value='" + repo.id + "'>" + repo.distrito + "</option>";
            });
            $('#llegada_distrito_id').html(cadena_ubigeo);
        });
    });
    
    $('#remitente').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_entidades/buscador_entidad/2',
        minLength: 2,
        select: function (event, ui) {
            $('#remitente_id').val(ui.item.id);
        }
    });
    
    $('#txt_carro').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_carros/buscador_carro',
        minLength: 2,
        select: function (event, ui) {
            $('#txt_carro_id').val(ui.item.id);
        }
    });
    
    $('#chofer').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_choferes/buscador_chofer',
        minLength: 2,
        select: function (event, ui) {
            $('#chofer_id').val(ui.item.id);
        }
    });
    
    $('#txt_carro_secundario').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_carros/buscador_carro',
        minLength: 2,
        select: function (event, ui) {
            $('#txt_carro_id_secundario').val(ui.item.id);
        }
    });        
            
    $('#sub_contratista').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_entidades/buscador_entidad/2',
        minLength: 2,
        select: function (event, ui) {
            $('#sub_contratista_id').val(ui.item.id);
        }
    });
    
    $('#pagador_flete').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_entidades/buscador_entidad/2',
        minLength: 2,
        select: function (event, ui) {
            $('#pagador_flete_id').val(ui.item.id);
        }
    });
    
    $('#destinatario').autocomplete({
        //para guias solo se busca empresas
        source: base_url + 'index.php/WS_entidades/buscador_entidad/2',
        minLength: 2,
        select: function (event, ui) {
            $('#destinatario_id').val(ui.item.id);
        }
    });
    
    $("#agrega").on('click', function(){
        agregarFila();
    });
    
    $('#tabla').on('click', '.eliminar', function(){
        $(this).closest('tr').remove();
    });            

    function agregarFila(producto, producto_id, unidad_id, cantidad){        
        producto = (producto == undefined) ? '' : 'readonly="readonly" value = ' + producto;
        producto_id = (producto_id == undefined) ? 'data-valor = 0' : 'data-valor = ' + producto_id;
        unidad_id = (unidad_id == undefined) ? '' : 'value = ' + unidad_id;
        cantidad = (cantidad == undefined) ? 'value = ' + 1 : 'value = ' + cantidad;
        
        var fila = '<tr class="cont-item fila_generada" >';
        fila += '<td style="border:0;" class="col-sm-4"><input ' + producto + ' ' + producto_id + ' class="form-control descripcion-item" id="descripcion" name="descripcion[]" required=""></td>';
        
        fila += '<td style="border:0;">';
        fila += '<select class="form-control" id="unidad" name="unidad[]">';
        $.each(unidades_activas, function(i, item) {
            selected_unidad = (unidad_id == item.id) ? 'selected' : '';
            fila += '<option ' + selected_unidad + ' value="' + item.id + '">' + item.unidad + '</option>';
            //fila += '<option value="' + item.id + '">' + item.unidad + '</option>';
        });
        fila += '</select>'
        fila += '</td>';  
        
        fila += '<td style="border:0;"><input data-nepele=1 ' + cantidad + ' type="number" id="cantidad" name="cantidad[]"  class="form-control cantidad" ></td>';               
        fila += '<td class="eliminar" style="border:0;"><span class="glyphicon glyphicon-remove" style="color:#F44336;font-size:20px;cursor:pointer;"></span></td>';
        fila += '</tr>';

        $("#tabla").css("display","block");
        $("#tabla tbody").append(fila);    
    }
    
    var url_editar = window.location.hash;
    
    $(document).ready(function () {
        $("#sub_contratista").prop('disabled',true);
        $('#chek_sub_contratista').click(function() { 
            if (!$(this).is(':checked')) {
                $("#sub_contratista").prop('disabled',true);
            }else{
                $("#sub_contratista").prop('disabled',false);
            }
        });
        
        $("#txt_carro_secundario").prop('disabled',true);
        $('#chek_carro_secundario').click(function() { 
            if (!$(this).is(':checked')) {
                $("#txt_carro_secundario").prop('disabled',true);
            }else{
                $("#txt_carro_secundario").prop('disabled',false);
            }
        });
        
        $("#pagador_flete").prop('disabled',true);
        $('#chek_pagador_flete').click(function() { 
            if (!$(this).is(':checked')) {
                $("#pagador_flete").prop('disabled',true);
            }else{
                $("#pagador_flete").prop('disabled',false);
            }
        });
        
        $("#guardar_guia").on('click', function(){
            var data = {};            
            
            if(url_editar !== ''){
                let guia_id = url_editar.substring(1);
                data['guia_id'] = guia_id;
            }
            
            if($("#remitente_id").val() == ''){
                alert('Debe ingresar un remitente.');
                return false;
            }
            
            if($("#destinatario_id").val() == ''){
                alert('Debe ingresar un destinatario.');
                return false;
            }
            
            if($("#partida_direccion").val() == ''){
                alert('Debe ingresar punto de partida.');
                return false;
            }
            
            if($("#llegada_direccion").val() == ''){
                alert('Debe ingresar punto de llegada.');
                return false;
            }            
                                    
            if(($("#partida_distrito_id").val() == '') || $("#partida_distrito_id").val() == null){
                alert('Debe ingresar distrito de partida.');
                return false;
            }
            
            if(($("#llegada_distrito_id").val() == '') || $("#llegada_distrito_id").val() == null){
                alert('Debe ingresar distrito de llegada.');
                return false;
            }
            
            if($("#chofer_id").val() == ''){
                alert('Debe ingresar un chofer.');
                return false;
            }

            data['fecha_emision']       = $("#fecE").val();
            data['fecha_traslado']      = $("#fecT").val();
            data['numero_mtc']          = $("#numero_mtc").val();
            
            data['partida_ubigeo']      = $("#partida_distrito_id").val();
            data['partida_direccion']   = $("#partida_direccion").val();
            data['llegada_ubigeo']      = $("#llegada_distrito_id").val();
            data['llegada_direccion']   = $("#llegada_direccion").val();

            data['remitente_id']        = $("#remitente_id").val();
            data['destinatario_id']     = $("#destinatario_id").val();
            
            data['chofer_id']           = $("#chofer_id").val();
            data['carro_id']            = $("#txt_carro_id").val();
            
            if ($('#chek_carro_secundario').is(':checked') && ($('#txt_carro_id_secundario').val() > 0))  {
                data['carro_id_secundario']  = $("#txt_carro_id_secundario").val();
            }
            
            data['peso_total']          = $("#peso_total").val();
            data['notas']               = $("#notas").val();
            
            data['tipo_documento_id']   = $("#tipo_documento").val();
            data['adjunto_serie']       = $("#adjunto_serie").val();
            data['adjunto_numero']      = $("#adjunto_numero").val();
                        
            if ($('#chek_sub_contratista').is(':checked') && ($('#sub_contratista_id').val() > 0))  {
                data['sub_contratista_id']  = $("#sub_contratista_id").val();
            }
            
            if ($('#chek_pagador_flete').is(':checked') && ($('#pagador_flete_id').val() > 0))  {
                data['pagador_flete_id']  = $("#pagador_flete_id").val();
            }
            
            var array_producto_id   = [];
            var array_cantidad      = [];
            var array_unidad        = [];
            var array_producto      = [];
            
            $('#tabla tbody tr').each(function(){
                let producto_id = $(this).find('td').eq(0).children().attr('data-valor');
                let producto    = $(this).find('td').eq(0).find('.descripcion-item').val();
                let unidad      = $(this).find('td').eq(1).children().val();
                let cantidad    = $(this).find('td').eq(2).children().val();

                array_producto_id.push(producto_id);
                array_producto.push(producto);
                array_unidad.push(unidad);
                array_cantidad.push(cantidad);
            });
            
            respuesta_inconsistencia = 0;
            respuesta_inconsistencia = detectorInconsistencias(array_producto_id, array_cantidad, array_producto);
            if(respuesta_inconsistencia == 1)return false;            
                        
//            if(array_cantidad.length == 0){
//               alert('Debe ingresar al menos 1 producto.');
//                respuesta_inconsistencia = 1;
//            }
            
            data['producto_id']     = array_producto_id;
            data['producto']        = array_producto;
            data['unidad']          = array_unidad;
            data['cantidad']        = array_cantidad;
                                    
            var url_save = base_url + 'index.php/guias_transportistas/operaciones';            
            $.getJSON(url_save, data)
            .done(function(datos, textStatus, jqXHR){
                toast('success', 2500, 'Guia ingresada correctamente');        
                window.location.href = base_url + "index.php/guias_transportistas/index";
            })
            .fail(function( jqXHR, textStatus, errorThrown ) {
                if ( console && console.log ) {
                    console.log( "Algo ha fallado: " +  textStatus );
                }
            });
        });
                
        $('#contendor_table').on('keyup change', '.tabla_items',function(){
            $('.descripcion-item').autocomplete({
                source : base_url + 'index.php/WS_ventas/buscador_item',
                minLength : 2,
                select : function (event,ui){
                    var _item = $(this).closest('.cont-item');
                    //var data_item = '<input class="val-descrip" type="hidden" value="'+ ui.item.producto_id + '" name = "item_id[]" id = "item_id">';
                    //_item.find('#data_item').html(data_item);
                    _item.find('#descripcion').attr("readonly",true);
                    _item.find('#descripcion').attr('data-valor',ui.item.producto_id);
                    
                    _item.find("#unidad option[value='"+ui.item.unidad_id+"']").prop('selected', true);
                    _item.find('#unidad').attr("readonly",true);
                }
            });
        });
        
        //Buscador REMITENTE
        $("#buscador_remitente").on('click', function(){
            var numero_documento_buscar = $("#remitente").val();
            if( (numero_documento_buscar.length != 8) && (numero_documento_buscar.length != 11) ){
                toast('Error', 1500, 'Cantidad de dígitos incorrectos.');
                return false;
            }
            toast('success', 2000, 'Buscando');
            //console.log('numero_documento_buscar:'+numero_documento_buscar);
            var url_l = base_url + 'index.php/WS_entidades/buscador_externo_ruc_ventas/' + numero_documento_buscar;            
            $.getJSON(url_l)
            .done(function (data) {
                $("#remitente_id").val(data.entidad_id);
                $("#remitente").val(data.entidad + ' - ' + numero_documento_buscar);                                
            })
            .fail(function() {
                toast('Error', 1500, 'Datos no encontrados');
                $("#remitente_id").val('');
                $("#remitente").val('');
            });
        });
        
        //Buscador DESTINATARIO
        $("#buscador_destinatario").on('click', function(){
            var numero_documento_buscar = $("#destinatario").val();
            if( (numero_documento_buscar.length != 8) && (numero_documento_buscar.length != 11) ){
                toast('Error', 1500, 'Cantidad de dígitos incorrectos.');
                return false;
            }
            toast('success', 2000, 'Buscando');
            //console.log('numero_documento_buscar:'+numero_documento_buscar);
            var url_l = base_url + 'index.php/WS_entidades/buscador_externo_ruc_ventas/' + numero_documento_buscar;            
            $.getJSON(url_l)
            .done(function (data) {
                $("#destinatario_id").val(data.entidad_id);
                $("#destinatario").val(data.entidad + ' - ' + numero_documento_buscar);                                
            })
            .fail(function() {
                toast('Error', 1500, 'Datos no encontrados');
                $("#destinatario_id").val('');
                $("#destinatario").val('');
            });
        });
        
        //Buscador SUB CONTRATISTA
        $("#buscador_sub_contratista").on('click', function(){
            var numero_documento_buscar = $("#sub_contratista").val();
            if( (numero_documento_buscar.length != 8) && (numero_documento_buscar.length != 11) ){
                toast('Error', 1500, 'Cantidad de dígitos incorrectos.');
                return false;
            }
            toast('success', 2000, 'Buscando');
            //console.log('numero_documento_buscar:'+numero_documento_buscar);
            var url_l = base_url + 'index.php/WS_entidades/buscador_externo_ruc_ventas/' + numero_documento_buscar;            
            $.getJSON(url_l)
            .done(function (data) {
                $("#sub_contratista_id").val(data.entidad_id);
                $("#sub_contratista").val(data.entidad + ' - ' + numero_documento_buscar);                                
            })
            .fail(function() {
                toast('Error', 1500, 'Datos no encontrados');
                $("#sub_contratista_id").val('');
                $("#sub_contratista").val('');
            });
        });
        
        //Buscador PAGADOR FLETE
        $("#buscador_pagador_flete").on('click', function(){
            var numero_documento_buscar = $("#pagador_flete").val();
            if( (numero_documento_buscar.length != 8) && (numero_documento_buscar.length != 11) ){
                toast('Error', 1500, 'Cantidad de dígitos incorrectos.');
                return false;
            }
            toast('success', 2000, 'Buscando');
            //console.log('numero_documento_buscar:'+numero_documento_buscar);
            var url_l = base_url + 'index.php/WS_entidades/buscador_externo_ruc_ventas/' + numero_documento_buscar;            
            $.getJSON(url_l)
            .done(function (data) {
                $("#pagador_flete_id").val(data.entidad_id);
                $("#pagador_flete").val(data.entidad + ' - ' + numero_documento_buscar);                                
            })
            .fail(function() {
                toast('Error', 1500, 'Datos no encontrados');
                $("#pagador_flete_id").val('');
                $("#pagador_flete").val('');
            });
        });
        
                /////////-----EDITAR------//////////        
        if(url_editar != ''){
            let guia_id = url_editar.substring(1);
            $('#txt_guia_id').val(guia_id);
            
            $("#guardar_guia").text("Modificar Guia Transportista");
            
            let url_cabecera = base_url + 'index.php/WS_guia_transportistas/ws_cabecera/' + guia_id;
            $.getJSON(url_cabecera)
            .done(function (data) {
                $("#label_guia").text("Modificar Guia Transportista: " + data.serie + "-" + data.numero);
                $("#fecE").val(data.fecha_emision_cf);
                $("#fecT").val(data.fecha_traslado_cf);
                $("#numero_mtc").val(data.numero_mtc);
                    
                $("#partida_direccion").val(data.partida);
                $('#partida_distrito_id').prepend("<option value='"+data.partida_ubigeo+"' >"+data.partida_distrito+"</option>");
                $('#partida_provincia_id').prepend("<option value='"+data.partida_ubigeo.substring(0, 4)+"' >"+data.patida_provincia+"</option>");
                $("#partida_departamento_id option[value='"+data.partida_ubigeo.substring(0, 2)+"']").prop('selected', true);
                
                $("#llegada_direccion").val(data.llegada);
                $('#llegada_distrito_id').prepend("<option value='"+data.llegada_ubigeo+"' >"+data.llegada_distrito+"</option>");
                $('#llegada_provincia_id').prepend("<option value='"+data.llegada_ubigeo.substring(0, 4)+"' >"+data.llegada_provincia+"</option>");
                $("#llegada_departamento_id option[value='"+data.llegada_ubigeo.substring(0, 2)+"']").prop('selected', true);
                
                $("#remitente_id").val(data.remitente_id);
                $("#remitente").val(data.remitente_entidad);

                $("#destinatario_id").val(data.destinatario_id);
                $("#destinatario").val(data.destinatario_entidad);
                
                //Datos del conductor
                $("#chofer_id").val(data.chofer_id);
                $("#chofer").val(data.conductor_nombres + ' ' + data.conductor_apellidos);
                
                //documento adjunto
                $("#tipo_documento option[value='"+data.tipo_documento_id+"']").prop('selected', true);
                $("#adjunto_serie").val(data.adjunto_serie);
                $("#adjunto_numero").val(data.adjunto_numero);
                
                $("#peso_total").val(data.peso_total);
                $("#notas").val(data.observaciones);

                let url_detalle = base_url + 'index.php/WS_guia_transportista_detalles/ws_select/' + guia_id;
                $.getJSON(url_detalle)
                .done(function (data) {
                    (data).forEach(function (repo) {
                        agregarFila(repo.producto, repo.producto_id, repo.unidad_id, repo.cantidad)
                    });
                });

                if( data.sub_contratista_entidad != null ){
                    $("#sub_contratista").prop('disabled',false);
                    $("#sub_contratista").val(data.sub_contratista_entidad);
                    $("#sub_contratista_id").val(data.sub_contratista_id);
                }

                if( data.pagador_entidad != null ){
                    $("#pagador_flete").prop('disabled',false);
                    $("#pagador_flete").val(data.pagador_entidad);
                    $("#pagador_flete_id").val(data.pagador_flete_id);
                }
            });

            let url_carros = base_url + 'index.php/WS_carros/select_3/' + guia_id;
            console.log(url_carros);
            $.getJSON(url_carros)
            .done(function (data) {
                console.log('data:' + data[0]);
                $("#txt_carro_id").val(data[0].carro_id);
                $("#txt_carro").val(data[0].vehiculo_placa + ' ' + data[0].vehiculo_modelo + ' ' + data[0].vehiculo_marca);
                
                if($("#txt_carro_id_secundario").val(data[1].carro_id) != ''){
                    $("#chek_carro_secundario").prop("checked", true);

                    $("#txt_carro_id_secundario").val(data[1].carro_id);
                    $("#txt_carro_secundario").val(data[1].vehiculo_placa + ' ' + data[1].vehiculo_modelo + ' ' + data[1].vehiculo_marca);
                    $("#txt_carro_secundario").prop('disabled',false);
                }
            });
        }
    });
    
    $.getJSON(base_url + 'index.php/WS_tipo_documentos/tipo_documentos_all')
        .done(function (data) {
            (data.tipo_documentos).forEach(function (repo) {
                $('#tipo_documento').append("<option value='" + repo.id + "'>" + repo.tipo_documento + "</option>");
        });
    });
    
    function detectorInconsistencias(array_producto_id, array_cantidad, array_producto){    
        var tipo_entidad_id = Number(tipo_entidad_id);
        
        array_cantidad.forEach(function(cantidad){
            if(Number(cantidad) == 0){
                alert('Las cantidades deben ser mayor a cero (0)');
                respuesta_inconsistencia = 1;
            }
        });   
        
        if((productos_automaticos == 0) || (productos_automaticos == null)){
            array_producto_id.forEach(function(producto_id){                
                if((producto_id === undefined) || (producto_id == '') || (producto_id == 0)){
                    alert('Debe ingresar los productos correctamente (Debe seleccionar).');
                    respuesta_inconsistencia = 1;
                    return false;
                }
            });
        }else if(productos_automaticos == 1){
            array_producto.forEach(function(descripcion){
                if(descripcion == ''){
                    alert('Debe ingresar descripción al producto');
                    respuesta_inconsistencia = 1;
                }
            });
        }                
        return respuesta_inconsistencia;
    }
</script>